body{
	margin-right: 90px;
	margin-left: 90px;
	background-image: url("https://ih1.redbubble.net/image.981394222.8625/flat,750x,075,f-pad,750x1000,f8f8f8.jpg");
	background-repeat: no-repeat;		
	background-size: 1350px 6500px;
	border-style: ridge;
	fill: blue;
}

img{
	border: 8px solid #000;
	border-radius: 25px;
}

p{
	font-family: Arial, Helvetica, Sans-serif
}

h1{
	color: green;
	font-family: Papyrus, Copperplate, Fantasy
}

h2{
	font-family: Copperplate, Impact, Fantasy
}

.transbox{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.8;
}